/* COLORS ================================================================== */

/* background */

.d\:white  {background-color: #FFFFFF;}
.d\:black  {background-color: #000000;}
.d\:blue   {background-color: #1C7ED6;}
.d\:red    {background-color: #F44336;}
.d\:orange {background-color: #FF9800;}
.d\:green  {background-color: #4CAF50;}

.d\:background {background-color: #EFF4FF;}
.d\:primary    {background-color: #1C7ED6;}
.d\:secondary  {background-color: #FFFFFF;}
.d\:border     {background-color: #DEE7FB;}
.d\:highlight  {background-color: #FFE7A8;}
.d\:shadow     {background-color: #ACC0E6;}
.d\:text       {background-color: #243145;}
.d\:accent     {background-color: #F03E3E;}
.d\:error      {background-color: #F8BBD0;}
.d\:warning    {background-color: #FFFF9F;}
.d\:info       {background-color: #66BB6A;}
.d\:light      {background-color: #F7F9FE;}
.d\:dark       {background-color: #384760;}

/* border */

.b\:white  {border-color: #FFFFFF;}
.b\:black   {border-color: #000000;}
.b\:blue   {border-color: #1C7ED6;}
.b\:red    {border-color: #F44336;}
.b\:orange {border-color: #FF9800;}
.b\:green  {border-color: #4CAF50;}

.b\:background {border-color: #EFF4FF;}
.b\:primary    {border-color: #1C7ED6;}
.b\:secondary  {border-color: #FFFFFF;}
.b\:border     {border-color: #DEE7FB;}
.b\:highlight  {border-color: #FFE7A8;}
.b\:shadow     {border-color: #ACC0E6;}
.b\:text       {border-color: #243145;}
.b\:accent     {border-color: #F03E3E;}
.b\:error      {border-color: #F8BBD0;}
.b\:warning    {border-color: #FFFF9F;}
.b\:info       {border-color: #66BB6A;}
.b\:light      {border-color: #F7F9FE;}
.b\:dark       {border-color: #384760;}

/* text */

.t\:white  {color: #FFFFFF;}
.t\:black  {color: #000000;}
.t\:blue   {color: #1C7ED6;}
.t\:red    {color: #F44336;}
.t\:orange {color: #FF9800;}
.t\:green  {color: #4CAF50;}

.t\:background {background-color: #EFF4FF;}
.t\:primary    {background-color: #1C7ED6;}
.t\:secondary  {background-color: #FFFFFF;}
.t\:border     {background-color: #DEE7FB;}
.t\:highlight  {background-color: #FFE7A8;}
.t\:shadow     {background-color: #ACC0E6;}
.t\:text       {background-color: #243145;}
.t\:accent     {background-color: #F03E3E;}
.t\:error      {background-color: #F8BBD0;}
.t\:warning    {background-color: #FFFF9F;}
.t\:info       {background-color: #66BB6A;}
.t\:light      {background-color: #F7F9FE;}
.t\:dark       {background-color: #384760;}
