/* DIMENSIONS ============================================================== */

:root {
 --b: 0.063rem;
 --g: 0.313rem;
 --m: 0.313rem;
 --p: 0.313rem;
 --s: 13px;
 --t: 1rem * 0.333;
}

/* border and text --------------------------------------------------------- */

/* border */

.b\:0  {border-width: 0;}
.b\:1  {border-width: calc(var(--b)*1);}
.b\:2  {border-width: calc(var(--b)*2);}
.b\:3  {border-width: calc(var(--b)*3);}
.b\:4  {border-width: calc(var(--b)*4);}
.b\:5  {border-width: calc(var(--b)*5);}
.b\:6  {border-width: calc(var(--b)*6);}
.b\:7  {border-width: calc(var(--b)*7);}
.b\:8  {border-width: calc(var(--b)*8);}
.b\:9  {border-width: calc(var(--b)*9);}
.b\:10 {border-width: calc(var(--b)*10);}
.b\:11 {border-width: calc(var(--b)*11);}
.b\:12 {border-width: calc(var(--b)*12);}
.b\:13 {border-width: calc(var(--b)*13);}
.b\:14 {border-width: calc(var(--b)*14);}
.b\:15 {border-width: calc(var(--b)*15);}
.b\:16 {border-width: calc(var(--b)*16);}
.b\:17 {border-width: calc(var(--b)*17);}
.b\:18 {border-width: calc(var(--b)*18);}
.b\:19 {border-width: calc(var(--b)*19);}
.b\:20 {border-width: calc(var(--b)*20);}
.b\:21 {border-width: calc(var(--b)*21);}
.b\:22 {border-width: calc(var(--b)*22);}
.b\:23 {border-width: calc(var(--b)*23);}
.b\:24 {border-width: calc(var(--b)*24);}
.b\:25 {border-width: calc(var(--b)*25);}

/* text */

.t\:1  {font-size: calc(var(--t)*1);}
.t\:2  {font-size: calc(var(--t)*2);}
.t\:3  {font-size: calc(var(--t)*3);}
.t\:4  {font-size: calc(var(--t)*4);}
.t\:5  {font-size: calc(var(--t)*5);}
.t\:6  {font-size: calc(var(--t)*6);}
.t\:7  {font-size: calc(var(--t)*7);}
.t\:8  {font-size: calc(var(--t)*8);}
.t\:9  {font-size: calc(var(--t)*9);}
.t\:10 {font-size: calc(var(--t)*10);}
.t\:11 {font-size: calc(var(--t)*11);}
.t\:12 {font-size: calc(var(--t)*12);}
.t\:13 {font-size: calc(var(--t)*13);}
.t\:14 {font-size: calc(var(--t)*14);}
.t\:15 {font-size: calc(var(--t)*15);}
.t\:16 {font-size: calc(var(--t)*16);}
.t\:17 {font-size: calc(var(--t)*17);}
.t\:18 {font-size: calc(var(--t)*18);}
.t\:19 {font-size: calc(var(--t)*19);}
.t\:20 {font-size: calc(var(--t)*20);}
.t\:21 {font-size: calc(var(--t)*21);}
.t\:22 {font-size: calc(var(--t)*22);}
.t\:23 {font-size: calc(var(--t)*23);}
.t\:24 {font-size: calc(var(--t)*24);}
.t\:25 {font-size: calc(var(--t)*25);}
.t\:25 {font-size: calc(var(--t)*25);}

/* Gap --------------------------------------------------------------------- */

.g\:0  {gap: 0;}
.g\:1  {gap: calc(var(--g)*1);}
.g\:2  {gap: calc(var(--g)*2);}
.g\:3  {gap: calc(var(--g)*3);}
.g\:4  {gap: calc(var(--g)*4);}
.g\:5  {gap: calc(var(--g)*5);}
.g\:6  {gap: calc(var(--g)*6);}
.g\:7  {gap: calc(var(--g)*7);}
.g\:8  {gap: calc(var(--g)*8);}
.g\:9  {gap: calc(var(--g)*9);}
.g\:10 {gap: calc(var(--g)*10);}
.g\:11 {gap: calc(var(--g)*11);}
.g\:12 {gap: calc(var(--g)*12);}
.g\:13 {gap: calc(var(--g)*13);}
.g\:14 {gap: calc(var(--g)*14);}
.g\:15 {gap: calc(var(--g)*15);}
.g\:16 {gap: calc(var(--g)*16);}
.g\:17 {gap: calc(var(--g)*17);}
.g\:18 {gap: calc(var(--g)*18);}
.g\:19 {gap: calc(var(--g)*19);}
.g\:20 {gap: calc(var(--g)*20);}
.g\:21 {gap: calc(var(--g)*21);}
.g\:22 {gap: calc(var(--g)*22);}
.g\:23 {gap: calc(var(--g)*23);}
.g\:24 {gap: calc(var(--g)*24);}
.g\:25 {gap: calc(var(--g)*25);}

/* Padding and margin -------------------------------------------------------*/

/* padding */

.p\:0  {padding: 0;}
.p\:1  {padding: calc(var(--p)*1);}
.p\:2  {padding: calc(var(--p)*2);}
.p\:3  {padding: calc(var(--p)*3);}
.p\:4  {padding: calc(var(--p)*4);}
.p\:5  {padding: calc(var(--p)*5);}
.p\:6  {padding: calc(var(--p)*6);}
.p\:7  {padding: calc(var(--p)*7);}
.p\:8  {padding: calc(var(--p)*8);}
.p\:9  {padding: calc(var(--p)*9);}
.p\:10 {padding: calc(var(--p)*10);}
.p\:11 {padding: calc(var(--p)*11);}
.p\:12 {padding: calc(var(--p)*12);}
.p\:13 {padding: calc(var(--p)*13);}
.p\:14 {padding: calc(var(--p)*14);}
.p\:15 {padding: calc(var(--p)*15);}
.p\:16 {padding: calc(var(--p)*16);}
.p\:17 {padding: calc(var(--p)*17);}
.p\:18 {padding: calc(var(--p)*18);}
.p\:19 {padding: calc(var(--p)*19);}
.p\:20 {padding: calc(var(--p)*20);}
.p\:21 {padding: calc(var(--p)*21);}
.p\:22 {padding: calc(var(--p)*22);}
.p\:23 {padding: calc(var(--p)*23);}
.p\:24 {padding: calc(var(--p)*24);}
.p\:25 {padding: calc(var(--p)*25);}

/* padding-top */

.pt\:0  {padding-top: 0;}
.pt\:1  {padding-top: calc(var(--p)*1);}
.pt\:2  {padding-top: calc(var(--p)*2);}
.pt\:3  {padding-top: calc(var(--p)*3);}
.pt\:4  {padding-top: calc(var(--p)*4);}
.pt\:5  {padding-top: calc(var(--p)*5);}
.pt\:6  {padding-top: calc(var(--p)*6);}
.pt\:7  {padding-top: calc(var(--p)*7);}
.pt\:8  {padding-top: calc(var(--p)*8);}
.pt\:9  {padding-top: calc(var(--p)*9);}
.pt\:10 {padding-top: calc(var(--p)*10);}
.pt\:11 {padding-top: calc(var(--p)*11);}
.pt\:12 {padding-top: calc(var(--p)*12);}
.pt\:13 {padding-top: calc(var(--p)*13);}
.pt\:14 {padding-top: calc(var(--p)*14);}
.pt\:15 {padding-top: calc(var(--p)*15);}
.pt\:16 {padding-top: calc(var(--p)*16);}
.pt\:17 {padding-top: calc(var(--p)*17);}
.pt\:18 {padding-top: calc(var(--p)*18);}
.pt\:19 {padding-top: calc(var(--p)*19);}
.pt\:20 {padding-top: calc(var(--p)*20);}
.pt\:21 {padding-top: calc(var(--p)*21);}
.pt\:22 {padding-top: calc(var(--p)*22);}
.pt\:23 {padding-top: calc(var(--p)*23);}
.pt\:24 {padding-top: calc(var(--p)*24);}
.pt\:25 {padding-top: calc(var(--p)*25);}

/* padding-bottom */

.pb\:0  {padding-bottom: 0;}
.pb\:1  {padding-bottom: calc(var(--p)*1);}
.pb\:2  {padding-bottom: calc(var(--p)*2);}
.pb\:3  {padding-bottom: calc(var(--p)*3);}
.pb\:4  {padding-bottom: calc(var(--p)*4);}
.pb\:5  {padding-bottom: calc(var(--p)*5);}
.pb\:6  {padding-bottom: calc(var(--p)*6);}
.pb\:7  {padding-bottom: calc(var(--p)*7);}
.pb\:8  {padding-bottom: calc(var(--p)*8);}
.pb\:9  {padding-bottom: calc(var(--p)*9);}
.pb\:10 {padding-bottom: calc(var(--p)*10);}
.pb\:11 {padding-bottom: calc(var(--p)*11);}
.pb\:12 {padding-bottom: calc(var(--p)*12);}
.pb\:13 {padding-bottom: calc(var(--p)*13);}
.pb\:14 {padding-bottom: calc(var(--p)*14);}
.pb\:15 {padding-bottom: calc(var(--p)*15);}
.pb\:16 {padding-bottom: calc(var(--p)*16);}
.pb\:17 {padding-bottom: calc(var(--p)*17);}
.pb\:18 {padding-bottom: calc(var(--p)*18);}
.pb\:19 {padding-bottom: calc(var(--p)*19);}
.pb\:20 {padding-bottom: calc(var(--p)*20);}
.pb\:21 {padding-bottom: calc(var(--p)*21);}
.pb\:22 {padding-bottom: calc(var(--p)*22);}
.pb\:23 {padding-bottom: calc(var(--p)*23);}
.pb\:24 {padding-bottom: calc(var(--p)*24);}
.pb\:25 {padding-bottom: calc(var(--p)*25);}

/* padding-left */

.pl\:0  {padding-left: 0;}
.pl\:1  {padding-left: calc(var(--p)*1);}
.pl\:2  {padding-left: calc(var(--p)*2);}
.pl\:3  {padding-left: calc(var(--p)*3);}
.pl\:4  {padding-left: calc(var(--p)*4);}
.pl\:5  {padding-left: calc(var(--p)*5);}
.pl\:6  {padding-left: calc(var(--p)*6);}
.pl\:7  {padding-left: calc(var(--p)*7);}
.pl\:8  {padding-left: calc(var(--p)*8);}
.pl\:9  {padding-left: calc(var(--p)*9);}
.pl\:10 {padding-left: calc(var(--p)*10);}
.pl\:11 {padding-left: calc(var(--p)*11);}
.pl\:12 {padding-left: calc(var(--p)*12);}
.pl\:13 {padding-left: calc(var(--p)*13);}
.pl\:14 {padding-left: calc(var(--p)*14);}
.pl\:15 {padding-left: calc(var(--p)*15);}
.pl\:16 {padding-left: calc(var(--p)*16);}
.pl\:17 {padding-left: calc(var(--p)*17);}
.pl\:18 {padding-left: calc(var(--p)*18);}
.pl\:19 {padding-left: calc(var(--p)*19);}
.pl\:20 {padding-left: calc(var(--p)*20);}
.pl\:21 {padding-left: calc(var(--p)*21);}
.pl\:22 {padding-left: calc(var(--p)*22);}
.pl\:23 {padding-left: calc(var(--p)*23);}
.pl\:24 {padding-left: calc(var(--p)*24);}
.pl\:25 {padding-left: calc(var(--p)*25);}

/* padding-right */

.pr\:0  {padding-right: 0;}
.pr\:1  {padding-right: calc(var(--p)*1);}
.pr\:2  {padding-right: calc(var(--p)*2);}
.pr\:3  {padding-right: calc(var(--p)*3);}
.pr\:4  {padding-right: calc(var(--p)*4);}
.pr\:5  {padding-right: calc(var(--p)*5);}
.pr\:6  {padding-right: calc(var(--p)*6);}
.pr\:7  {padding-right: calc(var(--p)*7);}
.pr\:8  {padding-right: calc(var(--p)*8);}
.pr\:9  {padding-right: calc(var(--p)*9);}
.pr\:10 {padding-right: calc(var(--p)*10);}
.pr\:11 {padding-right: calc(var(--p)*11);}
.pr\:12 {padding-right: calc(var(--p)*12);}
.pr\:13 {padding-right: calc(var(--p)*13);}
.pr\:14 {padding-right: calc(var(--p)*14);}
.pr\:15 {padding-right: calc(var(--p)*15);}
.pr\:16 {padding-right: calc(var(--p)*16);}
.pr\:17 {padding-right: calc(var(--p)*17);}
.pr\:18 {padding-right: calc(var(--p)*18);}
.pr\:19 {padding-right: calc(var(--p)*19);}
.pr\:20 {padding-right: calc(var(--p)*20);}
.pr\:21 {padding-right: calc(var(--p)*21);}
.pr\:22 {padding-right: calc(var(--p)*22);}
.pr\:23 {padding-right: calc(var(--p)*23);}
.pr\:24 {padding-right: calc(var(--p)*24);}
.pr\:25 {padding-right: calc(var(--p)*25);}

/* margin */

.m\:0  {margin: 0;}
.m\:1  {margin: calc(var(--m)*1);}
.m\:2  {margin: calc(var(--m)*2);}
.m\:3  {margin: calc(var(--m)*3);}
.m\:4  {margin: calc(var(--m)*4);}
.m\:5  {margin: calc(var(--m)*5);}
.m\:6  {margin: calc(var(--m)*6);}
.m\:7  {margin: calc(var(--m)*7);}
.m\:8  {margin: calc(var(--m)*8);}
.m\:9  {margin: calc(var(--m)*9);}
.m\:10 {margin: calc(var(--m)*10);}
.m\:11 {margin: calc(var(--m)*11);}
.m\:12 {margin: calc(var(--m)*12);}
.m\:13 {margin: calc(var(--m)*13);}
.m\:14 {margin: calc(var(--m)*14);}
.m\:15 {margin: calc(var(--m)*15);}
.m\:16 {margin: calc(var(--m)*16);}
.m\:17 {margin: calc(var(--m)*17);}
.m\:18 {margin: calc(var(--m)*18);}
.m\:19 {margin: calc(var(--m)*19);}
.m\:20 {margin: calc(var(--m)*20);}
.m\:21 {margin: calc(var(--m)*21);}
.m\:22 {margin: calc(var(--m)*22);}
.m\:23 {margin: calc(var(--m)*23);}
.m\:24 {margin: calc(var(--m)*24);}
.m\:25 {margin: calc(var(--m)*25);}

/* margin-top */

.mt\:0  {margin-top: 0;}
.mt\:1  {margin-top: calc(var(--m)*1);}
.mt\:2  {margin-top: calc(var(--m)*2);}
.mt\:3  {margin-top: calc(var(--m)*3);}
.mt\:4  {margin-top: calc(var(--m)*4);}
.mt\:5  {margin-top: calc(var(--m)*5);}
.mt\:6  {margin-top: calc(var(--m)*6);}
.mt\:7  {margin-top: calc(var(--m)*7);}
.mt\:8  {margin-top: calc(var(--m)*8);}
.mt\:9  {margin-top: calc(var(--m)*9);}
.mt\:10 {margin-top: calc(var(--m)*10);}
.mt\:11 {margin-top: calc(var(--m)*11);}
.mt\:12 {margin-top: calc(var(--m)*12);}
.mt\:13 {margin-top: calc(var(--m)*13);}
.mt\:14 {margin-top: calc(var(--m)*14);}
.mt\:15 {margin-top: calc(var(--m)*15);}
.mt\:16 {margin-top: calc(var(--m)*16);}
.mt\:17 {margin-top: calc(var(--m)*17);}
.mt\:18 {margin-top: calc(var(--m)*18);}
.mt\:19 {margin-top: calc(var(--m)*19);}
.mt\:20 {margin-top: calc(var(--m)*20);}
.mt\:21 {margin-top: calc(var(--m)*21);}
.mt\:22 {margin-top: calc(var(--m)*22);}
.mt\:23 {margin-top: calc(var(--m)*23);}
.mt\:24 {margin-top: calc(var(--m)*24);}
.mt\:25 {margin-top: calc(var(--m)*25);}

/* margin-bottom */

.mb\:0  {margin-bottom: 0;}
.mb\:1  {margin-bottom: calc(var(--m)*1);}
.mb\:2  {margin-bottom: calc(var(--m)*2);}
.mb\:3  {margin-bottom: calc(var(--m)*3);}
.mb\:4  {margin-bottom: calc(var(--m)*4);}
.mb\:5  {margin-bottom: calc(var(--m)*5);}
.mb\:6  {margin-bottom: calc(var(--m)*6);}
.mb\:7  {margin-bottom: calc(var(--m)*7);}
.mb\:8  {margin-bottom: calc(var(--m)*8);}
.mb\:9  {margin-bottom: calc(var(--m)*9);}
.mb\:10 {margin-bottom: calc(var(--m)*10);}
.mb\:11 {margin-bottom: calc(var(--m)*11);}
.mb\:12 {margin-bottom: calc(var(--m)*12);}
.mb\:13 {margin-bottom: calc(var(--m)*13);}
.mb\:14 {margin-bottom: calc(var(--m)*14);}
.mb\:15 {margin-bottom: calc(var(--m)*15);}
.mb\:16 {margin-bottom: calc(var(--m)*16);}
.mb\:17 {margin-bottom: calc(var(--m)*17);}
.mb\:18 {margin-bottom: calc(var(--m)*18);}
.mb\:19 {margin-bottom: calc(var(--m)*19);}
.mb\:20 {margin-bottom: calc(var(--m)*20);}
.mb\:21 {margin-bottom: calc(var(--m)*21);}
.mb\:22 {margin-bottom: calc(var(--m)*22);}
.mb\:23 {margin-bottom: calc(var(--m)*23);}
.mb\:24 {margin-bottom: calc(var(--m)*24);}
.mb\:25 {margin-bottom: calc(var(--m)*25);}

/* margin-left */

.ml\:0  {margin-left: 0;}
.ml\:1  {margin-left: calc(var(--m)*1);}
.ml\:2  {margin-left: calc(var(--m)*2);}
.ml\:3  {margin-left: calc(var(--m)*3);}
.ml\:4  {margin-left: calc(var(--m)*4);}
.ml\:5  {margin-left: calc(var(--m)*5);}
.ml\:6  {margin-left: calc(var(--m)*6);}
.ml\:7  {margin-left: calc(var(--m)*7);}
.ml\:8  {margin-left: calc(var(--m)*8);}
.ml\:9  {margin-left: calc(var(--m)*9);}
.ml\:10 {margin-left: calc(var(--m)*10);}
.ml\:11 {margin-left: calc(var(--m)*11);}
.ml\:12 {margin-left: calc(var(--m)*12);}
.ml\:13 {margin-left: calc(var(--m)*13);}
.ml\:14 {margin-left: calc(var(--m)*14);}
.ml\:15 {margin-left: calc(var(--m)*15);}
.ml\:16 {margin-left: calc(var(--m)*16);}
.ml\:17 {margin-left: calc(var(--m)*17);}
.ml\:18 {margin-left: calc(var(--m)*18);}
.ml\:19 {margin-left: calc(var(--m)*19);}
.ml\:20 {margin-left: calc(var(--m)*20);}
.ml\:21 {margin-left: calc(var(--m)*21);}
.ml\:22 {margin-left: calc(var(--m)*22);}
.ml\:23 {margin-left: calc(var(--m)*23);}
.ml\:24 {margin-left: calc(var(--m)*24);}
.ml\:25 {margin-left: calc(var(--m)*25);}

/* margin-right */

.mr\:0  {margin-right: 0;}
.mr\:1  {margin-right: calc(var(--m)*1);}
.mr\:2  {margin-right: calc(var(--m)*2);}
.mr\:3  {margin-right: calc(var(--m)*3);}
.mr\:4  {margin-right: calc(var(--m)*4);}
.mr\:5  {margin-right: calc(var(--m)*5);}
.mr\:6  {margin-right: calc(var(--m)*6);}
.mr\:7  {margin-right: calc(var(--m)*7);}
.mr\:8  {margin-right: calc(var(--m)*8);}
.mr\:9  {margin-right: calc(var(--m)*9);}
.mr\:10 {margin-right: calc(var(--m)*10);}
.mr\:11 {margin-right: calc(var(--m)*11);}
.mr\:12 {margin-right: calc(var(--m)*12);}
.mr\:13 {margin-right: calc(var(--m)*13);}
.mr\:14 {margin-right: calc(var(--m)*14);}
.mr\:15 {margin-right: calc(var(--m)*15);}
.mr\:16 {margin-right: calc(var(--m)*16);}
.mr\:17 {margin-right: calc(var(--m)*17);}
.mr\:18 {margin-right: calc(var(--m)*18);}
.mr\:19 {margin-right: calc(var(--m)*19);}
.mr\:20 {margin-right: calc(var(--m)*20);}
.mr\:21 {margin-right: calc(var(--m)*21);}
.mr\:22 {margin-right: calc(var(--m)*22);}
.mr\:23 {margin-right: calc(var(--m)*23);}
.mr\:24 {margin-right: calc(var(--m)*24);}
.mr\:25 {margin-right: calc(var(--m)*25);}

/* Width and height ---------------------------------------------------------*/

.w\:full,
.h\:full {width: 100%;}

/* width */

.w\:0   {width: 0;}
.w\:1   {width: calc(var(--s)*1);}
.w\:2   {width: calc(var(--s)*2);}
.w\:3   {width: calc(var(--s)*3);}
.w\:4   {width: calc(var(--s)*4);}
.w\:5   {width: calc(var(--s)*5);}
.w\:6   {width: calc(var(--s)*6);}
.w\:7   {width: calc(var(--s)*7);}
.w\:8   {width: calc(var(--s)*8);}
.w\:9   {width: calc(var(--s)*9);}
.w\:10  {width: calc(var(--s)*10);}
.w\:11  {width: calc(var(--s)*11);}
.w\:12  {width: calc(var(--s)*12);}
.w\:13  {width: calc(var(--s)*13);}
.w\:14  {width: calc(var(--s)*14);}
.w\:15  {width: calc(var(--s)*15);}
.w\:16  {width: calc(var(--s)*16);}
.w\:17  {width: calc(var(--s)*17);}
.w\:18  {width: calc(var(--s)*18);}
.w\:19  {width: calc(var(--s)*19);}
.w\:20  {width: calc(var(--s)*20);}
.w\:21  {width: calc(var(--s)*21);}
.w\:22  {width: calc(var(--s)*22);}
.w\:23  {width: calc(var(--s)*23);}
.w\:24  {width: calc(var(--s)*24);}
.w\:25  {width: calc(var(--s)*25);}
.w\:26  {width: calc(var(--s)*26);}
.w\:27  {width: calc(var(--s)*27);}
.w\:28  {width: calc(var(--s)*28);}
.w\:29  {width: calc(var(--s)*29);}
.w\:30  {width: calc(var(--s)*30);}
.w\:31  {width: calc(var(--s)*31);}
.w\:32  {width: calc(var(--s)*32);}
.w\:33  {width: calc(var(--s)*33);}
.w\:34  {width: calc(var(--s)*34);}
.w\:35  {width: calc(var(--s)*35);}
.w\:36  {width: calc(var(--s)*36);}
.w\:37  {width: calc(var(--s)*37);}
.w\:38  {width: calc(var(--s)*38);}
.w\:39  {width: calc(var(--s)*39);}
.w\:40  {width: calc(var(--s)*40);}
.w\:41  {width: calc(var(--s)*41);}
.w\:42  {width: calc(var(--s)*42);}
.w\:43  {width: calc(var(--s)*43);}
.w\:44  {width: calc(var(--s)*44);}
.w\:45  {width: calc(var(--s)*45);}
.w\:46  {width: calc(var(--s)*46);}
.w\:47  {width: calc(var(--s)*47);}
.w\:48  {width: calc(var(--s)*48);}
.w\:49  {width: calc(var(--s)*49);}
.w\:50  {width: calc(var(--s)*50);}
.w\:51  {width: calc(var(--s)*51);}
.w\:52  {width: calc(var(--s)*52);}
.w\:53  {width: calc(var(--s)*53);}
.w\:54  {width: calc(var(--s)*54);}
.w\:55  {width: calc(var(--s)*55);}
.w\:56  {width: calc(var(--s)*56);}
.w\:57  {width: calc(var(--s)*57);}
.w\:58  {width: calc(var(--s)*58);}
.w\:59  {width: calc(var(--s)*59);}
.w\:60  {width: calc(var(--s)*60);}
.w\:61  {width: calc(var(--s)*61);}
.w\:62  {width: calc(var(--s)*62);}
.w\:63  {width: calc(var(--s)*63);}
.w\:64  {width: calc(var(--s)*64);}
.w\:65  {width: calc(var(--s)*65);}
.w\:66  {width: calc(var(--s)*66);}
.w\:67  {width: calc(var(--s)*67);}
.w\:68  {width: calc(var(--s)*68);}
.w\:69  {width: calc(var(--s)*69);}
.w\:70  {width: calc(var(--s)*70);}
.w\:71  {width: calc(var(--s)*71);}
.w\:72  {width: calc(var(--s)*72);}
.w\:73  {width: calc(var(--s)*73);}
.w\:74  {width: calc(var(--s)*74);}
.w\:75  {width: calc(var(--s)*75);}
.w\:76  {width: calc(var(--s)*76);}
.w\:77  {width: calc(var(--s)*77);}
.w\:78  {width: calc(var(--s)*78);}
.w\:79  {width: calc(var(--s)*79);}
.w\:80  {width: calc(var(--s)*80);}
.w\:81  {width: calc(var(--s)*81);}
.w\:82  {width: calc(var(--s)*82);}
.w\:83  {width: calc(var(--s)*83);}
.w\:84  {width: calc(var(--s)*84);}
.w\:85  {width: calc(var(--s)*85);}
.w\:86  {width: calc(var(--s)*86);}
.w\:87  {width: calc(var(--s)*87);}
.w\:88  {width: calc(var(--s)*88);}
.w\:89  {width: calc(var(--s)*89);}
.w\:90  {width: calc(var(--s)*90);}
.w\:91  {width: calc(var(--s)*91);}
.w\:92  {width: calc(var(--s)*92);}
.w\:93  {width: calc(var(--s)*93);}
.w\:94  {width: calc(var(--s)*94);}
.w\:95  {width: calc(var(--s)*95);}
.w\:96  {width: calc(var(--s)*96);}
.w\:97  {width: calc(var(--s)*97);}
.w\:98  {width: calc(var(--s)*98);}
.w\:99  {width: calc(var(--s)*99);}
.w\:100 {width: calc(var(--s)*100);}

/* height */

.h\:0   {height: 0;}
.h\:1   {height: calc(var(--s)*1);}
.h\:2   {height: calc(var(--s)*2);}
.h\:3   {height: calc(var(--s)*3);}
.h\:4   {height: calc(var(--s)*4);}
.h\:5   {height: calc(var(--s)*5);}
.h\:6   {height: calc(var(--s)*6);}
.h\:7   {height: calc(var(--s)*7);}
.h\:8   {height: calc(var(--s)*8);}
.h\:9   {height: calc(var(--s)*9);}
.h\:10  {height: calc(var(--s)*10);}
.h\:11  {height: calc(var(--s)*11);}
.h\:12  {height: calc(var(--s)*12);}
.h\:13  {height: calc(var(--s)*13);}
.h\:14  {height: calc(var(--s)*14);}
.h\:15  {height: calc(var(--s)*15);}
.h\:16  {height: calc(var(--s)*16);}
.h\:17  {height: calc(var(--s)*17);}
.h\:18  {height: calc(var(--s)*18);}
.h\:19  {height: calc(var(--s)*19);}
.h\:20  {height: calc(var(--s)*20);}
.h\:21  {height: calc(var(--s)*21);}
.h\:22  {height: calc(var(--s)*22);}
.h\:23  {height: calc(var(--s)*23);}
.h\:24  {height: calc(var(--s)*24);}
.h\:25  {height: calc(var(--s)*25);}
.h\:26  {height: calc(var(--s)*26);}
.h\:27  {height: calc(var(--s)*27);}
.h\:28  {height: calc(var(--s)*28);}
.h\:29  {height: calc(var(--s)*29);}
.h\:30  {height: calc(var(--s)*30);}
.h\:31  {height: calc(var(--s)*31);}
.h\:32  {height: calc(var(--s)*32);}
.h\:33  {height: calc(var(--s)*33);}
.h\:34  {height: calc(var(--s)*34);}
.h\:35  {height: calc(var(--s)*35);}
.h\:36  {height: calc(var(--s)*36);}
.h\:37  {height: calc(var(--s)*37);}
.h\:38  {height: calc(var(--s)*38);}
.h\:39  {height: calc(var(--s)*39);}
.h\:40  {height: calc(var(--s)*40);}
.h\:41  {height: calc(var(--s)*41);}
.h\:42  {height: calc(var(--s)*42);}
.h\:43  {height: calc(var(--s)*43);}
.h\:44  {height: calc(var(--s)*44);}
.h\:45  {height: calc(var(--s)*45);}
.h\:46  {height: calc(var(--s)*46);}
.h\:47  {height: calc(var(--s)*47);}
.h\:48  {height: calc(var(--s)*48);}
.h\:49  {height: calc(var(--s)*49);}
.h\:50  {height: calc(var(--s)*50);}
.h\:51  {height: calc(var(--s)*51);}
.h\:52  {height: calc(var(--s)*52);}
.h\:53  {height: calc(var(--s)*53);}
.h\:54  {height: calc(var(--s)*54);}
.h\:55  {height: calc(var(--s)*55);}
.h\:56  {height: calc(var(--s)*56);}
.h\:57  {height: calc(var(--s)*57);}
.h\:58  {height: calc(var(--s)*58);}
.h\:59  {height: calc(var(--s)*59);}
.h\:60  {height: calc(var(--s)*60);}
.h\:61  {height: calc(var(--s)*61);}
.h\:62  {height: calc(var(--s)*62);}
.h\:63  {height: calc(var(--s)*63);}
.h\:64  {height: calc(var(--s)*64);}
.h\:65  {height: calc(var(--s)*65);}
.h\:66  {height: calc(var(--s)*66);}
.h\:67  {height: calc(var(--s)*67);}
.h\:68  {height: calc(var(--s)*68);}
.h\:69  {height: calc(var(--s)*69);}
.h\:70  {height: calc(var(--s)*70);}
.h\:71  {height: calc(var(--s)*71);}
.h\:72  {height: calc(var(--s)*72);}
.h\:73  {height: calc(var(--s)*73);}
.h\:74  {height: calc(var(--s)*74);}
.h\:75  {height: calc(var(--s)*75);}
.h\:76  {height: calc(var(--s)*76);}
.h\:77  {height: calc(var(--s)*77);}
.h\:78  {height: calc(var(--s)*78);}
.h\:79  {height: calc(var(--s)*79);}
.h\:80  {height: calc(var(--s)*80);}
.h\:81  {height: calc(var(--s)*81);}
.h\:82  {height: calc(var(--s)*82);}
.h\:83  {height: calc(var(--s)*83);}
.h\:84  {height: calc(var(--s)*84);}
.h\:85  {height: calc(var(--s)*85);}
.h\:86  {height: calc(var(--s)*86);}
.h\:87  {height: calc(var(--s)*87);}
.h\:88  {height: calc(var(--s)*88);}
.h\:89  {height: calc(var(--s)*89);}
.h\:90  {height: calc(var(--s)*90);}
.h\:91  {height: calc(var(--s)*91);}
.h\:92  {height: calc(var(--s)*92);}
.h\:93  {height: calc(var(--s)*93);}
.h\:94  {height: calc(var(--s)*94);}
.h\:95  {height: calc(var(--s)*95);}
.h\:96  {height: calc(var(--s)*96);}
.h\:97  {height: calc(var(--s)*97);}
.h\:98  {height: calc(var(--s)*98);}
.h\:99  {height: calc(var(--s)*99);}
.h\:100 {height: calc(var(--s)*100);}
