/* PROPERTIES ============================================================== */

/* text ---------------------------------------------------------------------*/

.t\:regular {
  font-weight: var(--fo-regular);
}

.t\:bold {
  font-weight: var(--fo-bold);
}

/* Hidden and none ----------------------------------------------------------*/

.n\:list > li {
  list-style: none;
}

.n\:display {
  display: none;
}

/* Layout ------------------------------------------------------------------ */

.d\:block {
  display: block;
}

.d\:inline {
  display: inline-flex;
}

.d\:flex {
  display: flex;
}

.d\:grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.d\:grid2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.d\:grid3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.d\:grid4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
}

.f\:row {
  flex-direction: row;
}

.f\:col {
  flex-direction: column;
}

.f\:col > * {
  flex: 1 0 0;
  flex-grow: 1;
}

.f\:wrap {
  flex-wrap: wrap;
}

.f\:order {
  order: 1;
}

/* align-* and justify-* */

.j\:center {
  justify-content: center;
}

.j\:between {
  justify-content: space-between;
}

.j\:around {
  justify-content: space-around;
}

.a\:center {
  align-items: center;
}

.a\:start {
  align-items: start;
}

.a\:end {
  align-items: end;
}

/* Border -------------------------------------------------------------------*/

.b\:solid {
  border: 1px solid var(--th-border);
}

.b\:dashed {
  border: 1px dashed var(--th-border);
}

.b\:rounded {
  border-radius: 1rem;
}

.b\:circle {
  overflow: hidden;
  border-radius: 100%;
}

/* Other --------------------------------------------------------------------*/

.opacity {
  opacity: 0.25;
  transition: 0.2s;
}

.opacity:hover {
  opacity: 1;
}

.hover:hover {
  border-radius: 0;
  outline: 4px solid var(--th-highlight);
}

.s\:this {
  outline: 2px dashed var(--th-accent);
}

.s\:all,
.s\:all * {
  outline: 2px dashed var(--th-accent);
}
