/* Gap --------------------------------------------------------------------- */

.ga-0 {
  gap: 0;
}
.ga-1 {
  gap: calc(0.313rem * 1);
}
.ga-2 {
  gap: calc(0.313rem * 2);
}
.ga-3 {
  gap: calc(0.313rem * 3);
}
.ga-4 {
  gap: calc(0.313rem * 4);
}
.ga-5 {
  gap: calc(0.313rem * 5);
}
.ga-6 {
  gap: calc(0.313rem * 6);
}
.ga-7 {
  gap: calc(0.313rem * 7);
}
.ga-8 {
  gap: calc(0.313rem * 8);
}
.ga-9 {
  gap: calc(0.313rem * 9);
}
.ga-10 {
  gap: calc(0.313rem * 10);
}
.ga-11 {
  gap: calc(0.313rem * 11);
}
.ga-12 {
  gap: calc(0.313rem * 12);
}
.ga-13 {
  gap: calc(0.313rem * 13);
}
.ga-14 {
  gap: calc(0.313rem * 14);
}
.ga-15 {
  gap: calc(0.313rem * 15);
}
.ga-16 {
  gap: calc(0.313rem * 16);
}
.ga-17 {
  gap: calc(0.313rem * 17);
}
.ga-18 {
  gap: calc(0.313rem * 18);
}
.ga-19 {
  gap: calc(0.313rem * 19);
}
.ga-20 {
  gap: calc(0.313rem * 20);
}
.ga-21 {
  gap: calc(0.313rem * 21);
}
.ga-22 {
  gap: calc(0.313rem * 22);
}
.ga-23 {
  gap: calc(0.313rem * 23);
}
.ga-24 {
  gap: calc(0.313rem * 24);
}
.ga-25 {
  gap: calc(0.313rem * 25);
}
