/* width ---------------------------------------------------------*/

.wi-full {
  width: 100%;
}
.wi-screen {
  width: 100vw;
}

.wi-0 {
  width: 0;
}
.wi-1 {
  width: calc(1.25rem * 1);
}
.wi-2 {
  width: calc(1.25rem * 2);
}
.wi-3 {
  width: calc(1.25rem * 3);
}
.wi-4 {
  width: calc(1.25rem * 4);
}
.wi-5 {
  width: calc(1.25rem * 5);
}
.wi-6 {
  width: calc(1.25rem * 6);
}
.wi-7 {
  width: calc(1.25rem * 7);
}
.wi-8 {
  width: calc(1.25rem * 8);
}
.wi-9 {
  width: calc(1.25rem * 9);
}
.wi-10 {
  width: calc(1.25rem * 10);
}
.wi-11 {
  width: calc(1.25rem * 11);
}
.wi-12 {
  width: calc(1.25rem * 12);
}
.wi-13 {
  width: calc(1.25rem * 13);
}
.wi-14 {
  width: calc(1.25rem * 14);
}
.wi-15 {
  width: calc(1.25rem * 15);
}
.wi-16 {
  width: calc(1.25rem * 16);
}
.wi-17 {
  width: calc(1.25rem * 17);
}
.wi-18 {
  width: calc(1.25rem * 18);
}
.wi-19 {
  width: calc(1.25rem * 19);
}
.wi-20 {
  width: calc(1.25rem * 20);
}
.wi-21 {
  width: calc(1.25rem * 21);
}
.wi-22 {
  width: calc(1.25rem * 22);
}
.wi-23 {
  width: calc(1.25rem * 23);
}
.wi-24 {
  width: calc(1.25rem * 24);
}
.wi-25 {
  width: calc(1.25rem * 25);
}
.wi-26 {
  width: calc(1.25rem * 26);
}
.wi-27 {
  width: calc(1.25rem * 27);
}
.wi-28 {
  width: calc(1.25rem * 28);
}
.wi-29 {
  width: calc(1.25rem * 29);
}
.wi-30 {
  width: calc(1.25rem * 30);
}
.wi-31 {
  width: calc(1.25rem * 31);
}
.wi-32 {
  width: calc(1.25rem * 32);
}
.wi-33 {
  width: calc(1.25rem * 33);
}
.wi-34 {
  width: calc(1.25rem * 34);
}
.wi-35 {
  width: calc(1.25rem * 35);
}
.wi-36 {
  width: calc(1.25rem * 36);
}
.wi-37 {
  width: calc(1.25rem * 37);
}
.wi-38 {
  width: calc(1.25rem * 38);
}
.wi-39 {
  width: calc(1.25rem * 39);
}
.wi-40 {
  width: calc(1.25rem * 40);
}
.wi-41 {
  width: calc(1.25rem * 41);
}
.wi-42 {
  width: calc(1.25rem * 42);
}
.wi-43 {
  width: calc(1.25rem * 43);
}
.wi-44 {
  width: calc(1.25rem * 44);
}
.wi-45 {
  width: calc(1.25rem * 45);
}
.wi-46 {
  width: calc(1.25rem * 46);
}
.wi-47 {
  width: calc(1.25rem * 47);
}
.wi-48 {
  width: calc(1.25rem * 48);
}
.wi-49 {
  width: calc(1.25rem * 49);
}
.wi-50 {
  width: calc(1.25rem * 50);
}
