---
import image from '../../../assets/images/shoes.jpg';
---

<article class="pa-1 bg-secondary bo-normal bc-border ra-1 wi-18">
  <figure>
    <img class="ra-1 wi-full" src={image.src} alt="#" />
  </figure>
  <div class="ma-3">
    <p class="fw-bold fs-2 mb-1 ft-upper">Smart TV</p>
    <p>Sed ornare turpis leo, sit amet hendrerit leosit amet.</p>
    <footer class="di-flex jc-between ai-center">
      <p class="fs-4 fw-medium mb-0">$ 1250</p>
      <button>Add to cart</button>
    </footer>
  </div>
</article>
