---
import image from '../../../assets/images/shoes.jpg';
---

<article class="pa-1 bg-white bo-normal bc-border ra-1 wi-18">
  <figure>
    <img class="ra-1 wi-full" src={image.src} alt="#" />
  </figure>
  <div class="ma-3">
    <p class="fw-bold mb-1 fs-2 ft-upper">Smart TV</p>
    <p>Sed ornare turpis leo, sit amet hendrerit leosit amet.</p>
  </div>
</article>
