---
import Layout from '../layouts/Layout.astro';

const pages = [
{ title: 'Buttons',       url: '/docs/buttons' },
{ title: 'Cards',         url: '/docs/cards' },
{ title: 'Headers',       url: '/docs/headers' },
{ title: 'Inputs',        url: '/docs/inputs' },
{ title: 'LISTS',         url: '/docs/lists' },
{ title: 'MODALS',        url: '/docs/modals' },
{ title: 'NAVIGATION',    url: '/docs/navigation' },
{ title: 'TABLES',        url: '/docs/tables' },
{ title: 'TABS',          url: '/docs/tabs' },
{ title: 'TEXT STYLES',   url: '/docs/text-styles' },
{ title: 'MORE ELEMENTS', url: '/docs/more-elements' },
];
---

<Layout title="AboutStyle">
  <main>
    <h1>AboutStyle</h1>
    <code>1.2.1</code>
    <h2 class="bb-normal pb-1">Quick introduction</h2>
    <ul class="no-list di-grid gr-4 ga-5">
      {
        pages.map(elem => (
          <li class="bo-normal bc-border pa-5 ra-1 bg-white">
            <a href={elem.url}>{elem.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
