/* HTML TAGS =============================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

/* Individuals --------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
  font-family: var(--fo-base);
  font-size: 16px;
  color: var(--th-text);
}

body {
  width: 100vw;
  min-height: 100dvh;
  background-color: var(--th-secondary);
}

button {
  border: 0.063rem solid transparent;
  text-decoration: none;
}

del {
  border-radius: 0.5rem;
  background: var(--th-error);
}

form {
  display: flex;
  flex-direction: column;
}

hr {
  margin: 1rem;
}

img {
  display: block;
}

img:not([alt]) {
  border: 0.2rem solid red;
}

ins {
  border-radius: 0.5rem;
  background: var(--th-warning);
}

li {
  margin-bottom: 0.25rem;
}

mark {
  border-radius: 0.5rem;
  background: var(--th-highlight);
}

p {
  margin-bottom: 1rem;
}

textarea {
  display: block;
}

::file-selector-button {
  margin-right: 0.8rem;
}

/* Groups -------------------------------------------------------------------*/

a:link,
a:visited {
  color: var(--th-primary);
  text-decoration: underline;
}

b,
strong {
  font-weight: var(--fo-bold);
}

button,
summary,
input[type='submit'] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
}

button,
input[type='submit'] {
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--th-primary);
  color: var(--th-secondary);
  font-weight: var(--fo-bold);
  user-select: none;
}

button:hover,
input[type='submit']:hover {
  outline: 0.25rem solid var(--th-highlight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0 0.5rem;
  font-family: var(--fo-primary);
  font-weight: var(--fo-bold);
}

input,
textarea {
  padding: 0.5rem 1rem;
  border: 0.063rem solid var(--th-border);
  border-radius: 0.5rem;
  background: var(--th-secondary);
  color: var(--th-text);
}

input:focus,
textarea:focus {
  border-color: var(--th-primary);
  outline: none;
  color: var(--th-text);
}

pre,
code {
  margin: 0.25rem 0;
  padding: 0 0.4rem;
  border: 0.063rem solid var(--th-shadow);
  border-radius: 0.5rem;
  background: var(--th-border);
}

ul,
ol {
  margin: 1rem 0;
  padding-left: 1rem;
}

ul > p,
ol > p {
  margin-bottom: 0.3rem;
  margin-left: -1rem !important;
}

ul ul,
ol ol {
  margin: 0 !important;
  padding-left: 2rem !important;
}

input + label {
  margin-left: 1rem;
}

label + input {
  margin-left: 1rem;
}

pre code {
  all: revert;
}

/* Nested -------------------------------------------------------------------*/

dialog {
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: var(--th-background);
  max-width: 90dvw;
  & > section {
    max-height: 70dvh;
    overflow: auto;
    margin: 1rem 0;
  }
  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

details {
  margin-bottom: 0.5rem;
  background: var(--th-secondary);
  & > summary {
    position: relative;
    padding: 1rem;
    font-weight: var(--fo-medium);
    border-radius: 0.5rem;
    &:hover {
      color: var(--th-shadow);
    }
  }
  & > summary::before {
    content: '+';
    position: absolute;
    right: 1rem;
    font-weight: var(--fo-light);
    font-size: 2rem;
  }
  & > div {
    position: relative;
    padding: 1rem;
    border-radius: 0 0 0.4rem 0.4rem;
    background: var(--th-secondary);
  }
}

details[open] {
  & > summary {
    border-radius: 0.5rem 0.4rem 0 0;
    background: var(--th-shadow);
    color: var(--th-secondary);
  }
  & > summary::before {
    content: '-';
    position: absolute;
    right: 1rem;
  }
}

label {
  &:first-child {
    margin: 0;
  }
  & > * {
    display: block;
  }
  & > p {
    margin-bottom: 0.25rem;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  & th {
    border-bottom: 0.063rem solid var(--th-shadow);
    background: var(--th-shadow);
    text-align: left;
  }
  & tr:hover {
    background: var(--th-secondary);
  }
  & td {
    border-bottom: 0.063rem solid var(--th-shadow);
  }
  & thead,
  & th {
    font-weight: var(--fo-bold);
  }
  & td,
  & th {
    padding: 0.5rem;
  }
}

.source {
  position: relative;
  overflow: hidden;
  & p {
    padding: 0.5rem 1rem;
    margin: 0;
    border-radius: 0.5rem 0.4rem;
    color: var(--th-secondary);
    background-color: var(--th-primary);
    text-transform: uppercase;
  }
  & pre {
    overflow: auto;
  }
}
