/* FONTS =================================================================== */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap");

:root {
  /* Font-family */

  --fo-code:    "Fira Code", monospace;
  --fo-base:    "Red Hat Text", sans-serif;
  --fo-primary: var(--fo-primary);

  /* Font-weight */

  --fo-black:      900;
  --fo-extrabold:  800;
  --fo-bold:       700;
  --fo-semibold:   600;
  --fo-medium:     500;
  --fo-regular:    400;
  --fo-light:      300;
  --fo-extralight: 200;
  --fo-thin:       100;

  /* Font-size */

  --fo-large:  5rem;
  --fo-medium: 2.5rem;
  --fo-normal: 1rem;
  --fo-small:  0.5rem;
}
