/* Themes ------------------------------------------------------------------ */

:root {
  --th-background: #eff4ff;
  --th-primary: #1c7ed6;
  --th-secondary: #ffffff;
  --th-border: #dee7fb;
  --th-highlight: #ffe7a8;
  --th-shadow: #acc0e6;
  --th-text: #243145;
  --th-accent: #f03e3e;
  --th-error: #f8bbd0;
  --th-warning: #ffff9f;
  --th-info: #66bb6a;
  --th-light: #f7f9fe;
  --th-dark: #384760;
  --th-blank: transparent;
}
