/* THEMES ================================================================== */

body[data-theme="normal"] {
  --th-background: #EFF4FF;
  --th-primary:    #1C7ED6;
  --th-secondary:  #FFFFFF;
  --th-border:     #DEE7FB;
  --th-highlight:  #FFE7A8;
  --th-shadow:     #ACC0E6;
  --th-text:       #243145;
  --th-accent:     #F03E3E;
  --th-error:      #F8BBD0;
  --th-warning:    #FFFF9F;
  --th-info:       #66BB6A;
  --th-light:      #F7F9FE;
  --th-dark:       #384760;
  --th-blank:  transparent;
}
